/* color palette from <https://github.com/vuejs/theme> */
:root {
    --zt-c-white: #ffffff;

    --zt-c-black: #181818;

    --zt-c-primary: rgb(56, 173, 122);

    --zt-c-text-light-1: #333;
    --zt-c-text-light-2: #666;
    --zt-c-text-dark-1: var(--zt-c-white);
    --zt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--zt-c-white);

    --color-heading: var(--zt-c-primary);
    --color-text: var(--zt-c-text-light-1);
    --color-text-2: var(--zt-c-text-light-2);
}

:root body[theme-mode="dark"] {
    --color-background: var(--zt-c-black);

    --color-heading: var(--zt-c-primary);
    --color-text: var(--zt-c-text-dark-1);
    --color-text-2: var(--zt-c-text-dark-2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--zt-c-black);

        --color-heading: var(--zt-c-primary);
        --color-text: var(--zt-c-text-dark-1);
        --color-text-2: var(--zt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
